header{
    background-color: aliceblue;
}

body{
    background-color: rgb(106, 141, 171);
}

#about{
    border-bottom: 3px solid rgb(23, 0, 128);
    color: purple;
    text-align: center;
}


.summary{
    border: 2px solid;
    border-color: purple;
    margin: left;
    height: auto;
    overflow: auto;
    padding: 20px;
}

.logo1 img{
    max-height: 75px;
    padding: 0px;
    margin: 0px;
}

.logo2 img{
    display: block;
    position: center;
    width: 25%;
}