.bar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(106, 106, 250);
    max-height: 100px;
}
u2{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(34, 34, 124);
    max-height: 100px;
}

ul.bar li{
    float: left;
}

ul.bar li a{
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
}

.bar li a:hover {
    background-color: blue;
}

.top{
    justify-content: space-around;
}

.navi{
    display: flex;
    align-items: center;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}