header{
    background-color: aliceblue
}

body{
    background-color: aliceblue;
}

.logo1 img{
    max-height: 75px;
    padding: 0px;
    margin: 0px;
}

.titles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.schematic img{
    max-height: 500px;
    padding: 0px;
    margin: 0px;
}

.practice_field img{
    max-height: 500px;
    padding: 0px;
    margin: 0px;
}