header{
    background-color: aliceblue;
}

body{
    background-color: aliceblue;
}

.logo1 img{
    max-height: 75px;
    padding: 0px;
    margin: 0px;
}

#link_title{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: purple;
}

.links{
    display: flex;
    justify-content: center;
}

.each-link{
    font-size: 18px;
}

.each-link li{
    margin-bottom: 10px;
}