header{
    background-color: aliceblue;
}

body{
    background-color: aliceblue;
}

.logo1 img{
    max-height: 75px;
    padding: 0px;
    margin: 0px;
}

#link_title{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.links1{
    list-style-type: none;
    
}
/* Test */
.links2{ 
    list-style-type: none;
    
}